.square {
  height: 50px;
  width: 50px;

  background-color: blue;
}
.box {
  border: 2px solid black;
  flex-basis: 100px;
  min-width: 120px;
  padding-inline: 20px;
  font-size: 14px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parent {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
span {
  margin-top: 5px;
}
